.cp {
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas: 't t t t t t t w'
                         'e e e e e e e e'
                         'e e e e e e e e';
}
.cp .wrapper {
    background-color: #141414;
    border-radius: 8px;
    padding: 20px;
    margin: 10px; 
    pointer-events: auto;
    padding: 10px;
    overflow-x: hidden;
    padding-top: 10;
    grid-area: e;
    height: 1fr;
    overflow-y: hidden; 
    margin-top: 0px;
    min-height: 60vh;
}

/* .ql-tooltip {
    position: fixed !important;
    display: flex !important;
    bottom: 0 !important;
    padding: 2px !important;
    transform: none !important;
    background-color: #c0c0c0 !important;
    top: unset !important;
    padding-right: 10px !important;
    overflow-x: scroll;
} */
/* .cp .ql-tooltip  {
    max-width: 100vw !important;
    overflow: scroll !important;
} */
.cp .name {
    padding: 10px;
    grid-area: t;
    padding-bottom: 0%;
}
.cp .name input {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-radius: 20px;
    margin: 0;
}
.cp .pub-wrapper {
    padding: 10px;
    grid-area: w;
}
.cp .pub-wrapper button {
    padding: 10px 20px;
    background-color: #5ca674;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:600px) {
    .cp {
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 't t t t t t t t'
                            'e e e e e e e e'
                            'f f f f f f f w'
    }
    
}
/* Toolbar background */
.ql-snow.ql-toolbar {
  background-color: #75c68d;
}

/* Toolbar buttons */
.ql-snow .ql-toolbar button {
  color: #f0f0f0;
  background-color: white;
  padding: 10px;
}

/* Active button */
.ql-snow .ql-toolbar button.ql-active {
  background-color: #555;
}

/* Hover state */
.ql-snow .ql-toolbar button:hover {
  background-color: #444;
}

/* Dropdowns (like header selector) */
.ql-snow .ql-picker {
  color: white;
}

.ql-snow .ql-picker-options {
  background-color: #2b2b2b;
  color: black
}

/* Editor area */
.ql-snow .ql-editor {
  background: #2b2b2b;
  color: #f0f0f0;
}
.ql-snow .ql-toolbar button {
  background-color: white;
  border: 1px solid #333;
}
